// Project Sapphire Colour Settings

$colour_primary_dark: 	#003665;
$colour_primary: 		#004a8b;
$colour_primary_light: 	#1a5c96;

$colour_accent:			#00B2E2;

$colour_text_primary:	#212121;
$colour_text_secondary:	#727272;
$colour_divider:		#b6b6b6;

$colour_svPink:			#F39;