// Border radius shorthand
// @include border-radius(top left, top right, bottom right, bottom left);
@mixin border-radius($radius) {

	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
}