input.prefbox {
	
	// MSL Elections - AV voting box. Reformats to MSL defaults.
	
	width: 3em !important;
	text-align: center !important;
	font-size: large !important;
	font-weight: bold !important;
	border: 1px solid #000 !important;
	padding: 0.5em 0 !important;
	vertical-align: middle !important;
	position: absolute !important;
	left: 0 !important;
	top: 50% !important;
	line-height: 1 !important;
	margin: -1.25em 0 0 !important;
  
}