#admin_page_content {
	
	max-width: 960px;
	margin: 0 auto;
	
}

.msl_admin_page {
	
	padding: 0;
	
	textarea {
		
		border: 1px solid #ccc;
		
		padding: 10px;
		
		font-size: 16px;
		font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", Courier, monospace;
		
	}
	
	#admin_portal {
		
		padding: 0;
		
		h2 {
			
			margin-top: 0;
			
		}
		
	}
	
}

/*
==	Page Admin Styles
*/ 

#page_tree {
	
	background-color: white;
	border: 1px solid rgba(0,0,0,0.1);
	
	table {margin-bottom: 0;}
		
	table tr td {
		
		padding: 0px 10px;
		
	}
	
	table:after {
		
		content: "";
		display: block;
		height: 1px;
		background: rgba(0,0,0,0.1);
		width: 96.8%;
		position: absolute;
		margin-top: -7px;
		
	}
	
}