div#msl_toolbar ul li a#ctl00_ctl00_Main_AdminPageContent_lnkSiteDesign {
	
	padding-left: inherit;
	border: none;
	line-height: inherit;
	height: auto;
	padding: inherit;
	
	@extend .green-button;	
	
}